<!-- For responsiveness -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<div class="container-fluid">
  <div id="background">
    <%= image_tag ("gold.jpg") %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <!-- This calls the _partial from the layouts view, it contains the buttons
  row, that way I won't have to type the entire row and buttons
  in every view, just call this _partial -->
  <%= render 'layouts/partial' %>

  <h2 id="model-name">
    <%= @models.name %>
  </h2>

  <div>
    <% case @models.model_id %>
    <% when 1 %>
    <%= image_tag ("audi_s8_plus.jpeg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="s8-plus"> -->
    <div class="car-description">
      <ul class="car-description-ul">
        <li>With a turbocharged 605-hp TFSI engine, legendary quattro® sport all-wheel drive and standard sport differential, the S8 plus is the performance luxury sedan that's out in front.</li>
        <li>With legendary quattro all-wheel drive, the S8 plus sends power to the wheels with the most grip, helping to maximize handling performance on virtually any road. Top it off with a torque-vectoring rear sport differential and you'll see how the power and performance of the S8 plus can really stick.</li>
        <li>Behind the wheel of the S8 plus, you can. The cockpit brings a fully connected experience with sophisticated systems at your fingertips that make the built-in technological genius an extension of who you are</li>
        <li>Starting at $114,900</li>
      </ul>
    </div>
    <% when 2 %>
    <%= image_tag ("audi_rs7.jpeg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="rs-7"> -->
    <div class="car-description">
      <ul class="car-description-ul">
        <li>Some monsters are real. Take the turbocharged 560-hp TFSI V8 engine — and the astonishing 605-hp TFSI in the RS 7 performance model — plus quattro all-wheel drive with sport differential and incomparable luxury amenities, and you'll see the Audi RS 7 delivers performance that leaves even sports cars envious.</li>
        <li>Go ahead, stop traffic. The RS 7 and RS 7 performance can't help itself from being a showstopper. And you might not be able to help yourself from coveting its stunning form.</li>
        <li>Witness a roaring performance. The RS 7 performance is capable of feats that can astonish even the most seasoned driver. With a 605-hp TFSI engine that has a top track speed of 190 mph, sport exhaust, Audi dynamic ride control suspension and a Carbon Optic design package, you'll see that these are the things that legends are made of.</li>
        <li>Starting at $108,900</li>
      </ul>
    </div>
    <% when 3 %>
    <%= image_tag ("audi_s7.jpeg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="s7"> -->
    <div class="car-description">
      <ul class="car-description-ul">
        <li>When we designed the Audi S7, we upped the ante with aggressive styling and exceptional handling. And with its turbocharged 450-hp TFSI V8 engine, you can make a quick escape from convention.</li>
        <li>Bold. Sophisticated. Powerful. Every inch of the S7, stretching from the Singleframe® grille to the sloping coupe-like roofline, is an artistic expression of sporty performance.</li>
        <li>We love making things work in concert. From the thrust of its 450-hp TFSI V8 engine to its Audi adaptive air suspension and available dynamic steering, the S7 delivers one unforgettable performance.</li>
        <li>Starting at $82,900</li>
      </ul>
    <% when 4 %>
    <%= image_tag ("mercedes_amg_s65.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="amg-s65"> -->
    <div class="car-description">
      <ul class="car-description-ul">
        <li>THE HOUSE THAT SPEED BUILT. Step inside AMG, the performance racing division of Mercedes-Benz, and experience the legendary philosophy of One Man, One Engine firsthand.</li>
        <li>Handcrafted AMG 6.0L biturbo V-12 engine. A handcrafted 621-hp 6.0-liter biturbo V-12 outputs more torque than any AMG engine before it: a pavement-trembling 738 lb-ft. Liquid-to-air intercooling helps reduce intake temperatures. Twin turbos operate at up to 22 psi boost, while a variable-pressure fuel pump, new rapid-multispark ignition, and high-speed engine management deliver instant response at all rpm. The result is a feeling of power that seems at once infinitely mighty and absolutely effortless.</li>
        <li>Design leadership, exclusive details. With its ideal proportions, the 2016 AMG S65 is majestic in presence, yet sleek and athletic. From its prominent chrome double-bar grille, a V-12 exclusive, to its strong rear shoulders, it clearly conveys the power and strength within. Yet its subtle details are just as compelling. Its unusually crisp body creases, impossibly tight tolerances, intriguing use of brightwork and LED illumination make it the embodiment of confident elegance, and pure S-Class in every way.</li>
        <li>Starting at $225,900</li>
      </ul>
    </div>
    <% when 5 %>
    <%= image_tag ("mercedes_amg_s63.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="amg-s63"> -->
    <div class="car-description">
      <ul class="car-description-ul">
        <li>THE HOUSE THAT SPEED BUILT. Step inside AMG, the performance racing division of Mercedes-Benz, and experience the legendary philosophy of One Man, One Engine firsthand.</li>
        <li>Handcrafted AMG 5.5L biturbo V-8 engine. The handcrafted 5.5-liter AMG biturbo V-8 under the hood of the AMG S63 generates staggering output: 577 hp and 664 lb-ft of torque. Along with its millisecond-quick Direct Injection and multispark ignition technologies, increased fuel injection pressure and turbo boost are among the AMG enhancements that deliver 60 mph in a spectacular 3.9 seconds.</li>
        <li>AMG body styling. Exclusive AMG-design lower bodywork reveals the performance pedigree of the AMG S63 with purposeful style. Large, functional mesh air intakes in the deep front apron feature airflow-channeling winglets or "flics." They're set off by a matte chrome splitter, a detail repeated in the sharply flared side sills and the chiseled rear apron whose diffuser frames the four trapezoidal exhaust tips.</li>
        <li>Starting at $123,250</li>
      </ul>
    </div>
    <% when 6 %>
    <%= image_tag ("mercedes_s600.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="s600"> -->
    <div class="car-description">
      <ul class="car-description-ul">
        <li>6.0L biturbo V-12 engine. With increased displacement and a commensurate boost in output, the biturbo V-12 combines exuberance and effortlessness like no other engine. Such thoroughbred specifications as a diecast alloy block, forged pistons and sodium-filled exhaust valves team with a new twin-spark ignition and advanced engine controls. The result is far more than its 523 hp, 612 lb-ft of torque, and 5.0-second sprint to 60 mph. It's the feeling of unconquerable strength that it delivers with unflappable poise.</li>
        <li>Extended length, exclusive details. With its body elegantly lengthened by 8 inches, the 2016 Mercedes-Maybach S600 exudes majesty, presence and grace. From the intricate vertical details of its chrome double-bar grille, to the sweep of its extended rear quarters, it is genuinely grand in both proportion and detail. And yet it retains the lithe muscle of the acclaimed S-Class, with taut body lines, impossibly tight tolerances, and LED illumination that is at once intriguing and highly effective.</li>
        <li>Dual 12.3-inch high-resolution screens. A pair of crisp, high-resolution widescreens use a high pixel count, a fast refresh rate and automatic adjustment to ambient light to provide seamless display of instrumentation, driving systems, entertainment, navigation and vehicle settings. In front of the driver, analog-style gauges flank a large display with illustrated menus and sharp text for vehicle information and settings. In the central dash, a second widescreen offers intuitive control of comfort and convenience features.</li>
        <li></li>
      </ul>
    </div>
    <% when 7 %>
    <%= image_tag ("lexus_ls_hybrid.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="ls-hybrid"> -->
    <div class="car-description">CASE 7 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 8 %>
    <%= image_tag ("lexus_ls.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="ls"> -->
    <div class="car-description">CASE 8 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 9 %>
    <%= image_tag ("lexus_gsf.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="gsf"> -->
    <div class="car-description">CASE 9 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 10 %>
    <%= image_tag ("land_rover_sv_autobiography.png"), :class=>"car-display" %>
    <!-- <img class="car-display" id="sv-autobiography"> -->
    <div class="car-description">CASE 10 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 11 %>
    <%= image_tag ("land_rover_supercharged.png"), :class=>"car-display" %>
    <!-- <img class="car-display" id="supercharged"> -->
    <div class="car-description">CASE 11 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 12 %>
    <%= image_tag ("land_rover_hse.png"), :class=>"car-display" %>
    <!-- <img class="car-display" id="hse"> -->
    <div class="car-description">CASE 12 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 13 %>
    <%= image_tag ("bmw_x6M.png"), :class=>"car-display" %>
    <!-- <img class="car-display" id="x6-m"> -->
    <div class="car-description">CASE 13 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      </div>
    <% when 14 %>
    <%= image_tag ("bmw_x5M.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="x5-m"> -->
    <div class="car-description">CASE 14 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 15 %>
    <%= image_tag ("bmw_x4_m40i.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="x4-m40i"> -->
    <div class="car-description">CASE 15 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 16 %>
    <%= image_tag ("porsche_cayenne_turbo_s.jpeg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="cayenne-turbo-s"> -->
    <div class="car-description">CASE 16 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 17 %>
    <%= image_tag ("porsche_cayenne_turbo.jpeg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="cayenne-turbo"> -->
    <div class="car-description">CASE 17 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 18 %>
    <%= image_tag ("porsche_macan.jpeg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="macan"> -->
    <div class="car-description">CASE 18 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 19 %>
    <%= image_tag ("ferrari_california.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="california"> -->
    <div class="car-description">CASE 19 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 20 %>
    <%= image_tag ("errari_488_gtb.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="gtb-488-gtb"> -->
    <div class="car-description">CASE 20 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 21 %>
    <%= image_tag ("ferrari_la_ferrari.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="la-ferrari"> -->
    <div class="car-description">CASE 21 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 22 %>
    <%= image_tag ("lamborghini_venono_roadster.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="veneno-roadster"> -->
    <div class="car-description">CASE 22 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 23 %>
    <%= image_tag ("lamborghini_aventador_superveloce_roadster.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="aventador-superveloce-roadster"> -->
    <div class="car-description">CASE 23 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 24 %>
    <%= image_tag ("lamborghini_huracan.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="huracan"> -->
    <div class="car-description">CASE 24 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 25 %>
    <%= image_tag ("bugatti_veyron_16.4.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="veyron-16-4"> -->
    <div class="car-description">CASE 25 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 26 %>
    <%= image_tag ("bugatti_veyron_16.4_grand_sport.jpg"), :class=>"car-display" %>
      <!-- <img class="car-display" id="veyron-16-4-grand-sport"> -->
    <div class="car-description">CASE 26 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 27 %>
    <%= image_tag ("bugatti_veyron_16.4_grand_sport_vitesse.jpg"), :class=>"car-display" %>
      <!-- <img class="car-display" id="veyron-16-4-grand-sport-vitesse"> -->
    <div class="car-description">CASE 27 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 28 %>
    <%= image_tag ("rolls_royce_ghost.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="ghost"> -->
    <div class="car-description">CASE 28 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 29 %>
    <%= image_tag ("rolls_royce_phantom.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="phantom"> -->
    <div class="car-description">CASE 29 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 30 %>
    <%= image_tag ("rolls_royce_wraith.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="wraith"> -->
    <div class="car-description">CASE 30 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 31 %>
    <%= image_tag ("bentley_mulsanne.png"), :class=>"car-display" %>
    <!-- <img class="car-display" id="mulsanne"> -->
    <div class="car-description">CASE 31 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 32 %>
    <%= image_tag ("bentley_continental_gt3r.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="continental-gt3r"> -->
    <div class="car-description">CASE 32 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 33 %>
    <%= image_tag ("bentley_flying_spur.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="flying-spur"> -->
    <div class="car-description">CASE 33 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 34 %>
    <%= image_tag ("aston_martin_db9_volante.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="db9-volante"> -->
    <div class="car-description">CASE 34 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 35 %>
    <%= image_tag ("aston_martin_vanquish_carbon_edition.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="vanquish-carbon-edition"> -->
    <div class="car-description">CASE 35 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% when 36 %>
    <%= image_tag ("aston_martin_rapide_s.jpg"), :class=>"car-display" %>
    <!-- <img class="car-display" id="rapide-s"> -->
    <div class="car-description">CASE 36 DESCRIPTION
      <ul class="car-description-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <%end %>

  </div>

  <!-- <div id="car-display"> <%#= image-tag @models.image %> </div> -->
</div>
</div>
