<!-- For responsiveness -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<div class="container-fluid">
  <div id="background">
    <%= image_tag ("gold.jpg") %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <!-- This calls the _partial from the layouts view, it contains the buttons
  row, that way I won't have to type the entire row and buttons
  in every view, just call this _partial -->
  <%= render 'layouts/partial' %>

  <h2 id="model-name">
    <%= @models.make.name %> <%= @models.name %>
  </h2>

  <div>
    <% case @models.model_id %>
    <% when 1 %>
    <%= image_tag ("audi_s8_plus.jpeg"), :class=>"car-display" %>
    <div class="car-description">
      <ul class="car-description-ul">
        <li>With a turbocharged 605-hp TFSI engine, legendary quattro® sport all-wheel drive and standard sport differential, the S8 plus is the performance luxury sedan that's out in front.</li>
        <li>With legendary quattro all-wheel drive, the S8 plus sends power to the wheels with the most grip, helping to maximize handling performance on virtually any road. Top it off with a torque-vectoring rear sport differential and you'll see how the
          power and performance of the S8 plus can really stick.</li>
        <li>Behind the wheel of the S8 plus, you can. The cockpit brings a fully connected experience with sophisticated systems at your fingertips that make the built-in technological genius an extension of who you are</li>
        <li>Starting at $114,900</li>
      </ul>
    </div>
    <% when 2 %>
    <%= image_tag ("audi_rs7.jpeg"), :class=>"car-display" %>
    <div class="car-description">
      <ul class="car-description-ul">
        <li>Some monsters are real. Take the turbocharged 560-hp TFSI V8 engine — and the astonishing 605-hp TFSI in the RS 7 performance model — plus quattro all-wheel drive with sport differential and incomparable luxury amenities, and you'll see the Audi
          RS 7 delivers performance that leaves even sports cars envious.</li>
        <li>Go ahead, stop traffic. The RS 7 and RS 7 performance can't help itself from being a showstopper. And you might not be able to help yourself from coveting its stunning form.</li>
        <li>Witness a roaring performance. The RS 7 performance is capable of feats that can astonish even the most seasoned driver. With a 605-hp TFSI engine that has a top track speed of 190 mph, sport exhaust, Audi dynamic ride control suspension and a
          Carbon Optic design package, you'll see that these are the things that legends are made of.</li>
        <li>Starting at $108,900</li>
      </ul>
    </div>
    <% when 3 %>
    <%= image_tag ("audi_s7.jpeg"), :class=>"car-display" %>
    <div class="car-description">
      <ul class="car-description-ul">
        <li>When we designed the Audi S7, we upped the ante with aggressive styling and exceptional handling. And with its turbocharged 450-hp TFSI V8 engine, you can make a quick escape from convention.</li>
        <li>Bold. Sophisticated. Powerful. Every inch of the S7, stretching from the Singleframe® grille to the sloping coupe-like roofline, is an artistic expression of sporty performance.</li>
        <li>We love making things work in concert. From the thrust of its 450-hp TFSI V8 engine to its Audi adaptive air suspension and available dynamic steering, the S7 delivers one unforgettable performance.</li>
        <li>Starting at $82,900</li>
      </ul>
      <% when 4 %>
      <%= image_tag ("mercedes_amg_s65.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>THE HOUSE THAT SPEED BUILT. Step inside AMG, the performance racing division of Mercedes-Benz, and experience the legendary philosophy of One Man, One Engine firsthand.</li>
          <li>Handcrafted AMG 6.0L biturbo V-12 engine. A handcrafted 621-hp 6.0-liter biturbo V-12 outputs more torque than any AMG engine before it. Twin turbos operate at up to 22 psi boost, while a variable-pressure fuel pump, new rapid-multispark
            ignition, and high-speed engine management deliver instant response at all rpm.</li>
          <li>With its ideal proportions, the 2016 AMG S65 is majestic in presence, yet sleek and athletic. From its prominent chrome double-bar grille, a V-12 exclusive, to its strong rear shoulders, it clearly conveys the power and strength within. Its
            unusually crisp body creases, impossibly tight tolerances, intriguing use of brightwork and LED illumination make it the embodiment of confident elegance, and pure S-Class in every way.</li>
          <li>Starting at $225,900</li>
        </ul>
      </div>
      <% when 5 %>
      <%= image_tag ("mercedes_amg_s63.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>THE HOUSE THAT SPEED BUILT. Step inside AMG, the performance racing division of Mercedes-Benz, and experience the legendary philosophy of One Man, One Engine firsthand.</li>
          <li>The handcrafted 5.5-liter AMG biturbo V-8 under the hood of the AMG S63 generates staggering output: 577 hp and 664 lb-ft of torque. Along with its millisecond-quick Direct Injection and multispark ignition technologies, increased fuel injection
            pressure and turbo boost, it delivers 60 mph in a spectacular 3.9 seconds.</li>
          <li>Exclusive AMG-design lower bodywork reveals the performance pedigree of the AMG S63 with purposeful style. Large, functional mesh air intakes in the deep front apron feature airflow-channeling winglets, They're set off by a matte chrome splitter,
            a detail repeated in the sharply flared side sills and the chiseled rear apron whose diffuser frames the four trapezoidal exhaust tips.</li>
          <li>Starting at $123,250</li>
        </ul>
      </div>
      <% when 6 %>
      <%= image_tag ("mercedes_s600.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>6.0L biturbo V-12 engine. With increased displacement and a commensurate boost in output, the biturbo V-12 combines exuberance and effortlessness like no other engine. Such thoroughbred specifications as a diecast alloy block, forged pistons and
            sodium-filled exhaust valves team with a new twin-spark ignition and advanced engine controls. The result is far more than its 523 hp, 612 lb-ft of torque, and 5.0-second sprint to 60 mph.</li>
          <li>Extended length, exclusive details. The 2016 Mercedes-Maybach S600 exudes majesty, presence and grace. From the intricate vertical details of its chrome double-bar grille, to the sweep of its extended rear quarters, it is genuinely grand in both
            proportion and detail.</li>
          <li>A pair of crisp, high-resolution widescreens use a high pixel count, a fast refresh rate and automatic adjustment to ambient light to provide seamless display of instrumentation, driving systems, entertainment, navigation and vehicle settings.</li>
          <li>Starting at $169,050</li>
        </ul>
      </div>
      <% when 7 %>
      <%= image_tag ("lexus_ls_hybrid.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>With a V8 5.0L engine, the LS Hybrid was the world’s first prestige luxury and AWD V8 hybrid. With 438 horsepower, a 0-to-60 time of 5.5 seconds and world-class amenities, Lexus' flagship sedan remains a leader among luxury vehicles.</li>
          <li>Variable gear-ratio steering. This system automatically adjusts the steering angles and response of the front wheels. At low speeds, it reduces the number of turns, lock to lock, for easier maneuvering. At high speeds, the steering-gear ratio is
            optimized for increased high-speed responsiveness and control. When combined with the Dynamic Rear Steering system, it improves response, rear grip and overall agility when cornering.</li>
          <li>All weather drive. The all-wheel drive LS models provide greater command and control during acceleration and cornering in all kinds of weather.</li>
          <li>Starting at $80,870</li>
        </ul>
      </div>
      <% when 8 %>
      <%= image_tag ("lexus_ls.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>The LS 460 is a blend of exhilarating performance and visionary innovation. Its powerful engine provides an unparalleled driving experience, while its technologically advanced features offer a host of modern conveniences.</li>
          <li>V8 Lexus hybrid drive 5.0 Liter engine. 438 horse power. Four-cam, four valves per cylinder, with dual Variable Valve Timing with intelligence and Electronic intake valve timing (VVT-iE)</li>
          <li>With Lexus Enform, peace of mind, convenience and entertainment are always within reach. Inspired by the world-renowned Lexus LFA supercar, the LS F SPORT is engineered to drive your hunger for performance even further.</li>
          <li>Starting at $120,440</li>
        </ul>
      </div>
      <% when 9 %>
      <%= image_tag ("lexus_gsf.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>Forging new ground for Lexus performance and wielding 467 horsepower, the most powerful Lexus sedan ever made doesn't just wear the coveted F badge. It embodies it. Introducing the first-ever GS F</li>
          <li>With its 467-hp 5.0-liter V-8, upgraded brakes, and tuned suspension, the GS F puts Lexus back in the performance sports sedan melee. The engine carries over from the RC F coupe, along with an eight-speed automatic and rear-wheel drive. Robust 15-inch front rotors are squeezed by six-piston calipers and lurk behind 19-inch wheels. The exterior looks the part of a true executive express, while the interior has grippy seats and lots of carbon-fiber trim.</li>
          <li>The track-inspired instrumentation found in the cockpit is designed to keep your heart racing. The full-color LCD multi-information display within the gauge cluster allows you to quickly read the data you need to achieve optimum performance. Readouts include performance data such as Drive Mode, gear position and odometer information</li>
          <li>Starting at $84,440</li>
        </ul>
      </div>
      <% when 10 %>
      <%= image_tag ("land_rover_hse.png"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>EFFORTLESS HANDLING - Adaptive Dynamics constantly monitors the vehicle’s movements and reacts accordingly, minimising body-roll to give you a more comfortable drive</li>
          <li>AUTOMATIC ACCESS HEIGHT - The new Automatic Access Height feature lowers the vehicle with precision for easier entry and exit when parked. Arriving in style at any function has never been more relaxed</li>
          <li>R-TDV6 AUTOMATIC (4WD) 3.0 litre Diesel (258PS) with Stop/Start. 0-100kph (0-60mph) in 7.9 seconds.
              Grained leather seat ‘Style 1’, ten-way driver and passenger front seats, heated front seats, driver’s seat memory and rear bench seat</li>
          <li>Starting at $71,950</li>
        </ul>
      </div>
      <% when 11 %>
      <%= image_tag ("land_rover_supercharged.png"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>THE ONLY VEHICLE YOU WILL EVER NEED! From the most demanding and inhospitable terrains to negotiating rush hour city traffic, Range Rover delivers a relaxed, intuitive and rewarding drive</li>
          <li>LR-V8 Supercharged 5.0 Liter 510 HORSEPOWER. Four Wheel Drive (4WD)	8-speed transmission. The LR-V8 Supercharged 5.0 Liter engine produces 510 HP and 461 lb-ft of torque</li>
          <li>IMPECCABLE CRAFTMANSHIP. The interior of Range Rover SVAutobiography is the epitome of refined, sophisticated and indulgent living. Attention to the minutiae is in everything you see and touch. From the rear center console with bottle chiller compartment and deployable tables, to the unique seat design with calf support, the vehicle exudes confidence and a calm, collected air</li>
          <li>Starting at $79,950</li>
        </ul>
      </div>
      <% when 12 %>
      <%= image_tag ("land_rover_sv_autobiography.png"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>Our most luxurious specification yet, this vehicle has been crafted with precision and care, culminating in exquisite attention to detail</li>
          <li>Exclusive to SVAutobiography and new to the Range Rover line-up is a superb 550HP V8 Supercharged engine combines peerless refinement with the most powerful engine in Range Rover history. First seen on Range Rover Sport SVR, the all-aluminum 5-liter engine has been re-tuned to produce 550HP and 502 lb-ft, with maximum torque available at 3,500 - 4,000rpm</li>
          <li>British craftsmanship. The interior of SVAutobiography is elegant and indulgent. Only the very finest leathers are featured on the seats. Soft and supple, they are sourced from one tannery that uses an organic process featuring bark extract from Black Wattle trees. Sustainable woods and veneers on the center console and dashboard add to the sense of craft and refinement. Our British craftsmen have created an interior that exudes sophistication, finesse and calm</li>
          <li>Starting at $199,495</li>
        </ul>
      </div>
      <% when 13 %>
      <%= image_tag ("bmw_x6M.png"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>BMW's patented cross-bank exhaust manifolds are mounted inside the valley (V). The shorter pipe length means more efficient airflow on the way to the turbochargers, while a combustion chamber arrangement mirroring the firing sequence ensures a consistent level of pressure acting on the two turbochargers, without any kind of counterflow, for rapid turbine response and constant pressure charge</li>
          <li>The BMW X6 M's aerodynamic design elements like M-specific air breathers reduce turbulence, while the M rear diffuser helps ensure aerodynamically optimized airflow. And finally, a rear spoiler reduces rear-axle lift—proving that striking design can be functional</li>
          <li>The BMW X6 M is incredibly nimble. Chassis technology like Active Roll Stabilization creates an effective reduction in body roll, while Dynamic Performance Control reduces understeer–making cornering that much more exhilarating</li>
          <li>Starting at $102,200</li>
        </ul>
      </div>
      <% when 14 %>
      <%= image_tag ("bmw_x5M.jpg"), :class=>"car-display" %>
      <div class="car-description">
        <ul class="car-description-ul">
          <li>HOLD ON TIGHT. The 4.4 liter V8 boasts 567 hp and 553 lb-ft of torque, making it the most powerful engine ever developed for an all-wheel drive BMW. Better yet, its brutish power is paired with sophisticated engineering feats, like M TwinPower Turbo and Valvetronic technologies, to deliver a shockingly fast 0-60 mph time of 4 seconds..</li>
          <li>GRIP ANY TERRAIN. An M-tuned xDrive all-wheel drive system ensures road-gripping traction. It delivers perfect distribution of drive between the front and rear axles, while Dynamic Performance Control distributes torque between the 21-inch M Double-spoke light-alloy wheels—all for a new level of dynamic driving and all-road capability</li>
          <li>AGGRESSIVELY ELEGANT DESIGN. The exterior is just as striking as it is functional. Aerodynamic elements like the innovative front air intakes optimize cooling, while Xenon Adaptive Headlights and the imposing kidney grille demand the respect of everyone on the road</li>
          <li>Starting at $105,000</li>
        </ul>
      </div>
      <% when 15 %>
      <%= image_tag ("bmw_x4_m40i.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 15 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li>Starting at $</li>
        </ul>
      </div>
      <% when 16 %>
      <%= image_tag ("porsche_cayenne_turbo_s.jpeg"), :class=>"car-display" %>
      <div class="car-description">CASE 16 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li>Starting at $</li>
        </ul>
      </div>
      <% when 17 %>
      <%= image_tag ("porsche_cayenne_turbo.jpeg"), :class=>"car-display" %>
      <div class="car-description">CASE 17 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li>Starting at $</li>
        </ul>
      </div>
      <% when 18 %>
      <%= image_tag ("porsche_macan.jpeg"), :class=>"car-display" %>
      <div class="car-description">CASE 18 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 19 %>
      <%= image_tag ("ferrari_california.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 19 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 20 %>
      <%= image_tag ("ferrari_488_gtb.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 20 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 21 %>
      <%= image_tag ("ferrari_la_ferrari.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 21 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 22 %>
      <%= image_tag ("lamborghini_venono_roadster.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 22 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 23 %>
      <%= image_tag ("lamborghini_aventador_superveloce_roadster.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 23 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 24 %>
      <%= image_tag ("lamborghini_huracan.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 24 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 25 %>
      <%= image_tag ("bugatti_veyron_16.4.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 25 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 26 %>
      <%= image_tag ("bugatti_veyron_16.4_grand_sport.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 26 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 27 %>
      <%= image_tag ("bugatti_veyron_16.4_grand_sport_vitesse.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 27 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 28 %>
      <%= image_tag ("rolls_royce_ghost.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 28 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 29 %>
      <%= image_tag ("rolls_royce_phantom.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 29 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 30 %>
      <%= image_tag ("rolls_royce_wraith.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 30 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 31 %>
      <%= image_tag ("bentley_mulsanne.png"), :class=>"car-display" %>
      <div class="car-description">CASE 31 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 32 %>
      <%= image_tag ("bentley_continental_gt3r.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 32 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 33 %>
      <%= image_tag ("bentley_flying_spur.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 33 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 34 %>
      <%= image_tag ("aston_martin_db9_volante.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 34 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 35 %>
      <%= image_tag ("aston_martin_vanquish_carbon_edition.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 35 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <% when 36 %>
      <%= image_tag ("aston_martin_rapide_s.jpg"), :class=>"car-display" %>
      <div class="car-description">CASE 36 DESCRIPTION
        <ul class="car-description-ul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <%end %>

    </div>

  </div>
</div>
