<!-- For responsiveness -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<h1> Please choose a car model </h1>
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- The line below calls the partial from layouts, it contains the top line of buttons -->
<%= render "layouts/partial" %>



<!-- Present a different background for each chosen make's body page -->
<% case @make.name %>
  <% when "Audi" %>
    <body> <%= image_tag "audi-background.png", :class=>"make-background"%> </body>
  <% when "Mercedes" %>
    <body> <%= image_tag "mercedes-background.jpg", :class=>"make-background"%> </body>
  <% when "Lexus" %>
    <body> <%= image_tag "lexus-background.jpg", :class=>"make-background"%> </body>
  <% when "Land Rover" %>
    <body> <%= image_tag "land-rover-background.jpg", :class=>"make-background"%> </body>
  <% when "Bmw" %>
    <body> <%= image_tag "bmw-background.jpg", :class=>"make-background"%> </body>
  <% when "Porsche" %>
    <body> <%= image_tag "porsche-background.jpg", :class=>"make-background"%> </body>
  <% when "Ferrari" %>
    <body> <%= image_tag "ferrari-background.jpg", :class=>"make-background"%> </body>
  <% when "Lamborghini" %>
    <body> <%= image_tag "lamborghini-background.jpg", :class=>"make-background"%> </body>
  <% when "Bugatti" %>
    <body> <%= image_tag "bugatti-background.jpg", :class=>"make-background"%> </body>
  <% when "Rolls Roys" %>
    <body> <%= image_tag "rolls-roys-background.jpg", :class=>"make-background"%> </body>
  <% when "Bentley" %>
    <body> <%= image_tag "bentley-background.jpg", :class=>"make-background"%> </body>
  <% when "Aston Martin" %>
    <body> <%= image_tag "aston-martin-background.jpg", :class=>"make-background"%> </body>

<% end %>


<div class="make-selector">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="row">
                  <% @make_models.each do |model| %>
                  <div class="col-md-4">
                    <button class="btn btn-lg btn-secondary btn-block btn-wrap">
                      <%= link_to model.name, model%>
                    </button>
                  </div>
                  <% end %>
          </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
